.unity3-post-group-header {
    background-color: #d6d6d6;
    padding: 20px;
    font-size: 30px;
}

.unity3-post-group-header.dashicons-before::before {
    /* float: right; */
    font-size: 120px;
    /* right: 0px; */
    /* position: absolute; */
    /* right: 0px; */
    /* margin-top: -50px; */
    /* margin-right: 180px; */
}

.unity3-post-group-header .title {
    margin-left: 140px;
}

body.unity3-post-group-hide-add-term #col-left {
    display: none;
}

body.unity3-post-group-hide-add-term #col-right {
    width: 100%;
}
