// Breakpoints.
$breakpoints: (
    xxs: 384px,
    xs: 512px,
    sm: 768px,
    md: 896px,
    lg: 1152px,
    xl: 1280px
);



/* Column Classes
———————————————————— */
// .five-sixths,
// .four-fifths,
// .four-sixths,
// .one-fifth,
// .one-fourth,
// .one-half,
// .one-sixth,
// .one-third,
// .three-fifths,
// .three-fourths,
// .three-sixths,
// .two-fifths,
// .two-fourths,
// .two-sixths,
// .two-thirds {
//   float: left;
//   margin: 0 0 20px;
//   padding-left: 3%;
// }

// .one-half,
// .three-sixths,
// .two-fourths {
//   width: 48%;
// }

// .one-third,
// .two-sixths {
//   width: 31%;
// }

// .four-sixths,
// .two-thirds {
//   width: 65%;
// }

// .one-fourth {
//   width: 22.5%;
// }

// .three-fourths {
//   width: 73.5%;
// }

// .one-fifth {
//   width: 17.4%;
// }

// .two-fifths {
//   width: 37.8%;
// }

// .three-fifths {
//   width: 58.2%;
// }

// .four-fifths {
//   width: 78.6%;
// }

// .one-sixth {
//   width: 14%;
// }

// .five-sixths {
//   width: 82%;
// }

// .first {
//   clear: both;
//   padding-left: 0;
// }


.lds-ripple {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);


  div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1.5s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }

  div:nth-child(2) {
    animation-delay: -0.5s;
  }
}

@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}