//set the default slide text color
.sp-slide {

  h1, h2, h3, h4, h5, h6, p, div, span, b, i, a, blockquote {
    color: #fff;
  }

  [data-role="centerCenter"] {
    white-space: normal!important;
  }

  .sp-layer {
    padding: 40px;
  }
}


@media (max-width: 512px) {
  .sp-slide {
    .sp-layer {
      padding: 0px!important;
      width: 100%!important;
    }
  }
}

@each $name, $breakpoint in $breakpoints {

  @media (max-width: $breakpoint) {
     .sp-layer.hide-on-#{$name} {
       display: none;
     }
  }
}