.archive.post-type-archive-tribe_events .content .entry {
  width: 100%;
}

.widget.tribe-events-list-widget .widget-wrap {
  p:only-of-type {
    &:before {
      content: " ";
      float: left;
      padding: 5px;
      padding-top: 25%;
      width: 25%;
      margin: 10px;
      background: url(../images/events-calendar-bg.jpg) no-repeat;
      background-size: cover;
    }
  }
}