.archive.post-type-archive-tribe_events .content .entry {
  width: 100%;
}

.widget.tribe-events-list-widget {
    text-align: left;

    &:before {
      content: " ";
      float: left;
      padding: 5px;
      padding-top: 25%;
      width: 25%;
      margin: 10px;
      background: url(../images/events-calendar-bg.jpg) no-repeat;
      background-size: cover;
    }

  ol.tribe-list-widget {
    float: left;

    li {
      padding-left: 0;
    }
  }

   p {
     float: left;
     margin-left: 10px;
     text-align: center;
     margin: 0px 10px;
     padding: 0 5px;
     clear: both;
   }
}