@import "../unity3_utilities";

.acf-block-preview .service-times {
  position: relative;
}

.acf-block-preview .service-times .hover {
  @include flexbox();
  @include align-items(center);
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  transition: 0.8s;
}

.acf-block-preview .service-times .hover a.edit-link {
  padding: 10px;
  margin: auto;
  font-size: 1.5rem;
  color: white;
  opacity: 1;
}

.acf-block-preview .service-times .hover a.edit-link:hover {
  font-size: 2rem;
  opacity: 0.8;
}

.acf-block-preview .service-times:hover .hover {
  opacity: 1!important;
}

