@import "../unity3_utilities";
/*unity3-audio */
.wp-block[data-type="acf/unity3-audio"] {
  .playlist-preview {
    padding: 10px;
    border: solid 2px gray;
    list-style: none;
    padding: 10px;
  }
}
